<%= form_for [@event], html: { role: 'form' } do |f| %>

  <%= f.hidden_field :creator_id, value: current_user.id %>

  <div class='row'>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <%= f.label :name , class: 'control-label required-field' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class='row'>
        <% if @event.logo_url %>
          <div class='col-md-8'>
        <% else %>
          <div class='col-md-12'>
        <% end %>
            <div class='form-group'>
              <%= f.label :logo , class: 'control-label' %>
              <%= f.file_field :logo, class: 'form-control' %>
              <%= f.hidden_field :logo_cache, class: 'form-control' %>
            </div>
          </div>
        <div class='col-md-4'>
          <div class='col-md-10'>
            <% if f.object.logo? %>
              Current Logo : <%= image_tag @event.logo_url, class: 'img-responsive' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='form-group'>
        <%= f.label :description , class: 'control-label required-field' %>
        <%= f.text_area :description, class: 'form-control', rows: 6 %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div class='form-group'>
        <%= f.label :start_time, class: 'control-label required-field' %>
        <%= f.datetime_select :start_time, start_year: Time.now.year, end_year: Time.now.year + 15, class: 'form-control' %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='form-group'>
        <%= f.label :end_time, class: 'control-label required-field' %>
        <%= f.datetime_select :end_time, start_year: Time.now.year, end_year: Time.now.year + 15, class: 'form-control'  %>
      </div>
    </div>
  </div>



  <%= f.fields_for :address, @address do |builder| %>
    <%= render 'addresses/form', address_form: builder %>
  <% end %>
  <%= f.fields_for :contact_detail, @contact_detail do |builder| %>
    <%= render 'contact_details/form', contact_form: builder %>
  <% end %>

  <div class='row'>
    <div class='col-md-6'>
    </div>
    <div class='col-md-3'>
      <div class='form-group'>
        <div class='checkbox-inline'>
          <%= f.radio_button :enabled, true, checked: true %>
          <%= f.label :enabled_true, 'Enable', class: 'control-label' %>
        </div>
        <div class='checkbox-inline'>
          <%= f.radio_button :enabled, false %>
          <%= f.label :enabled_false, 'Disable', class: 'control-label' %>
        </div>
      </div>
    </div>
    <div class='col-md-1'>
      <div class='form-group'>
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
    <div class='col-md-1'>
      <%= link_to 'Cancel', events_path, class: 'btn btn-primary' , method: :get %>
    </div>
  </div>
<% end %>
