<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= address_form.label :street, class: 'control-label' %>
      <%= address_form.text_field :street, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= address_form.label :city, class: 'control-label' %>
      <%= address_form.text_field :city, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= address_form.label :country, class: 'control-label' %>
      <%= address_form.text_field :country, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= address_form.label :zipcode, class: 'control-label' %>
      <%= address_form.text_field :zipcode, class: 'form-control' %>
    </div>
  </div>
</div>
