<div class='row'>
  <div class='col-md-6'>
    <h3>Listing all users</h3>
  </div>
  <br>
</div>
<% if @users.empty? %>
  No Users Exist
<% else %>
  <div class='row col-md-5'>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-4">
          Name
        </th>
        <th class="col-md-1">
          Email
        </th>
        <th class="col-md-1">
          Status
        </th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td class='col-md-4'>
          <%= user.title + ' ' + user.name %>
        </td>
        <td class='col-md-3'>
          <%= user.nickname %>
        </td>
        <td class='col-md-3'>
          <%= user.email %>
        </td>
        <td class='col-md-3'>
          <% if !user.admin? %>
            <% if user_enabled?(user) %>
              <%= link_to 'DISABLE', admin_user_disable_path(user), class: 'btn btn-primary toggle', method: :put, data: { confirm: "Are you sure?", type: :json, remote: true} %>
            <% else %>
              <%= link_to 'ENABLE ', admin_user_enable_path(user), class: 'btn btn-success toggle', method: :put, data: { confirm: "Are you sure?", type: :json, remote: true} %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </div>
<% end %>
