<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "i Conference Connect 2" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="banner">
      <div class="col-md-3">
        <%= image_tag('conf_logo.jpg') %>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <%= button_to 'My Events', user_events_path(current_user), method: :get if user_signed_in? %>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <%= button_to 'Events', events_path, method: :get %>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <% if user_signed_in? %>
          <%= button_to 'Logout', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= button_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </div>
    <main role="main", class="mid">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <div class="row">
        <div class="col-md-1 side">
          <% if user_signed_in? %>
            <%= button_to 'Create Event', new_user_event_path(current_user), method: :get %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
