<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title><%= content_for?(:title) ? yield(:title) : 'i Conference Connect 2' %></title>
    <meta name='description' content='<%= content_for?(:description) ? yield(:description) : 'Learn Rails' %>'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='banner' class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="row col-md-offset-7 email">
        <% if signed_in? %>
          <% if current_user.nickname? %>
            <%= 'Logged in as ' + current_user.nickname %>
          <% else %>
            <%= 'Logged in as ' + current_user.email %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <% if current_user && current_user.admin? %>
          <%= render 'admin/admin_nav_bar' %>
        <% else %>
          <%= render 'users/user_nav_bar' %>
        <% end %>
        <div class='col-md-1'>
          <div class="row">
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary', :method => :delete %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary ' %>
            <% end %>
          </div>
        </div>
        <% unless user_signed_in? %>
          <div class="col-md-1">
            <%= link_to image_tag('twitter.jpeg', height: '30px'), "/auth/twitter" %>
          </div>
        <% end %>
      </div>
    </div>
    <main role='main', class='mid body'>
      <div id="message_container">
        <div id="flash_messages">
          <% flash.each do |type, message| %>
            <div class='alert <%= bootstrap_class_for(type) %> fade in'>
              <button class='close' data-dismiss='alert'>×</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
